body{
    background-color: #354259;
}
.r3{
    margin:100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:transparent;
    padding:5px;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 5px solid #D61C4E;
    animation: r_3 3s ease-in-out infinite;
}
.r2{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:transparent;
    height: 450px;
    width: 450px;
    padding:5px;
    border-radius: 50%;
    border: 5px solid #F77E21;
    animation: r_2 2s ease-in-out infinite;

}
.r1{
    background-color: transparent;
    height: 400px;
    width: 400px;
    border-radius: 400px;
    padding: 10px 0px;
    border: 5px solid #FAC213;
    animation: r_1 1s ease-in-out infinite;

}
@keyframes r_1{
    0%{
        
    }
    50%{
        height: 200px;
        width: 200px;
    }
    100%{
        height: 400px;
        width:400px
    }
}
@keyframes r_2{
    0%{
    }
    50%{
        height: 300px;
        width: 300px;
    }
    100%{
        height: 450px;
        width:450px
    }
}
@keyframes r_3{
    0%{
    }
    50%{
        height: 360px;
        width: 360px;
    }
    100%{
        height: 500px;
        width:500px
    }
}